# Ignore system and IDE files
.DS_Store
.vscode/

# Ignore Python cache and runtime files
__pycache__/
*.pyc

# Ignore environment files
# venv/
# *.env

# Ignore the large, generated database file (Optional, but good practice)
# intelligence_platform.db

